* {
    box-sizing: border-box;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px ;
    font-size: 17px;
    padding: 8px;
}
.formcontainer{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px ;
    border: 2px solid lightcyan;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;

}
fieldset{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.mainheading{
    text-align: center;
}
input[type="submit"]{
    background-color: #5787cf;
    color: #f2f2f2;
    padding: 12px 20px;
    border: none ;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(174, 192, 42);
}